.dishes-list {
    border: 1px solid orange;
}
.dish {
    border: 1px solid purple;
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 10px 0;
}
.dish-item {
    width: 25%;
    height: 100%;
    align-items: center;
}
.image img {
    max-width:100%;
    max-height:100%;
}